/* ProfilePage.css */

.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
  padding-top: 14vh;
  overflow: hidden;
}

.user-info {
  position: sticky;
  top: 20px;
  min-width: 350px;
  max-height: 90vh;
  /* User info qismiga max-height 100vh */
  min-height: 85vh;
  /* User info qismiga max-height 100vh */
  overflow-y: auto;
  /* Aks holda uzun ma'lumotlar ko'rsatilmaydi */
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card {
  text-align: center;
  position: relative;
  height: 100%;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-name {
  font-size: 1.5em;
  font-weight: bold;
}

.user-email,
.user-role {
  font-size: 1em;
  color: #555;
}

.edit-profile-btn {
  padding: 10px 15px;
  background-color: #04032D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 5px;

}

.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.templates-section {
  flex-grow: 1;
  padding-left: 30px;
}

.templates-section>h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.templates-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.none-h1-profile {
  font-size: 17px;
  color: #B22222;
}

.template-card {
  background-color: #fff;
  position: relative;
  width: 330px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-left: 20px;
  max-height: 350px;
}

.template-card img {
  max-height: 50%;
  object-fit: cover;
}

.teplate-status {
  padding: 5px 10px;
  text-align: center;
  background-color: #F44336;
  /*4CAF50*/
  color: #fff;
  border-radius: 8px;
  margin: 15px 0;
  display: block;
  max-width: 150px;
}

.teplate-status.status {
  background-color: #4CAF50;
}

.template-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.template-description-link {
  color: #2A8BC0;
  margin-top: 10px;
  display: flex;
  gap: 4px;
}

.template-description-link span {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.template-description {
  font-size: 1em;
  color: #555;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  min-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content.active-modal {
  text-align: left;
}

.close-btn {
  background: none;
  border: none;
  font-size: 55px;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.close-btn:hover {
  color: #333;
}

.modal-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input dizayni */
.file-upload-label {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2px solid #ddd;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-input {
  display: none;
}

.plus-icon {
  font-size: 3em;
  color: #04032D;
  font-weight: bold;
}

.sign-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.sign-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.upload-btn {
  background-color: #04032D;
  min-width: 80px;
  min-height: 40px;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.upload-btn:hover {
  /* background-color: #45a049; */
}

/* Responsiv dizayn */
@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .user-info {
    width: 100%;
    min-height: 350px;
    position: relative;
    margin-top: 10vh;
}

  .templates-section {
    width: 100%;
    padding-left: 0;
  }

  .templates-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .templates-section h1{
    font-size: 25px;
  }
  .add-template-btn{
    display: none !important;
  }
}

.add-template-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #04032D;
  color: white;
  font-size: 2em;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Eng yuqori z-index */
  cursor: pointer;
}

.add-template-btn:hover {
  /* background-color: #45a049; */
}

.modal-input-i {
  min-width: 450px;
}

.modal-input-i h1 {
  font-weight: 400;
}

.modal-input-i input,
textarea {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #04032D;
  margin-bottom: 8px;
}

.modal-input-i h1 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}

.modal-content.active-modal select {
  width: 150px;
  border: 1px solid #04032D;
  outline: none;
  border-radius: 10px;
  padding: 10px 4px;
}

.image-input-show {
  max-width: 350px;
  object-fit: contain;
}

.p-remove-img {
  display: flex;
  gap: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 9px;
  background-color: #04032D;
  border-radius: 8px;
  color: #fff;
  padding: 4px 8px;
  max-width: 110px;
}

.p-remove-img:hover {
  color: #04032D;
  background: none;
  border: 1px solid #04032D;
  justify-content: center;
  align-items: center;
}

.p-remove-img span {
  display: flex;
  align-items: center;
  justify-content: center;
}